---
# Install required packages
- import_tasks: packages.yml
  when: "ansible_facts['os_family'] != 'Darwin'"
  tags:
    - ohmyzsh
    - ohmyzsh_requirements

# Install ohmyzsh
- include_tasks: ohmyzsh.yml
  loop: "{{ ohmyzsh_users }}"
  loop_control:
    loop_var: user
  tags:
    - ohmyzsh
    - ohmyzsh_install
...
