---
- block:
    - shell: "dscacheutil -q user -a name {{ user }} | grep 'dir:' | cut -d ' ' -f 2"
      register: dscache_output

    - name: Set home folders variable
      set_fact:
        home_folder: "{{ dscache_output.stdout }}"
  when: "ansible_os_family == 'Darwin'"

- block:
    - getent:
        database: passwd
        key: "{{ user }}"
        split: ":"
      when: "ansible_os_family == 'Darwin'"

    - name: Set home folders variable
      set_fact:
        home_folder: "{{ getent_passwd[user][4] }}"
  when: "ansible_os_family != 'Darwin'"

- shell: "git -C {{ home_folder }}/.oh-my-zsh pull || git clone https://github.com/robbyrussell/oh-my-zsh {{ home_folder }}/.oh-my-zsh"
  become: True
  become_user: "{{ user }}"

- name: Backup old zsh config
  copy:
    remote_src: yes
    src: "{{ home_folder }}/.oh-my-zsh/templates/zshrc.zsh-template"
    dest: "{{ home_folder }}/.zshrc"
    backup: yes
  become: True
  become_user: "{{ user }}"
  when: "ohmyzsh_install_default_zshrc"

- name: Change user shell to zsh
  user:
    name: "{{ user }}"
    shell: /bin/zsh
  become: True
  become_user: "root"

- name: Download plugins
  shell: "git -C {{ home_folder }}/.oh-my-zsh/custom/{{ item.0 }}/{{ (item.1 | basename | splitext)[0] }} pull || git clone {{ item.1 }} {{ home_folder }}/.oh-my-zsh/custom/{{ item.0 }}/{{ (item.1 | basename | splitext)[0] }}"
  become: True
  become_user: "{{ user }}"
  loop: "{{ query('nested', ['plugins'], ohmyzsh_plugins_repos | default([])) + query('nested', ['themes'], ohmyzsh_themes_repos | default([])) }}"
...
